/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
error_log
config/firebase_credentials.json
.env.testing
socket/node_modules
socket/.env
socket/index.html
public/socket/node_modules
public/node_modules
public/86c1ced895cdf8e923ca637ab0188391.html
public/socket.io.js
public/socket_test.html
